.HitIDCol {
    font-size:12px;
}
.AsgIDCol {
    font-size:12px;
}
.WrkIDCol {
    font-size:12px;
}
.FdbkIDCol {
    font-size:12px;
}
.StIDCol {
    font-size:12px;
}
.ComIDCol {
    font-size:12px;
}